@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #0000;
  background: #efefef !important;
  font-family: Arial, Helvetica, sans-serif;
}

.center-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
